footer.footer 
    .container 
        .footer-top.flex-wrap 
            .footer-col
                ul.footer__menu
                    li.footer__item-main Компания 
                    li.footer__item
                        a.link(href="#") 
                            +icon("arrow-right")
                            |Об АльфаТрейд
                    li.footer__item
                        a.link(href="#")  
                            +icon("arrow-right")
                            |White Paper
                    li.footer__item
                        a.link(href="#")  
                            +icon("arrow-right")
                            |Эффективность фонда 
                    li.footer__item
                        a.link(href="#")  
                            +icon("arrow-right")
                            |Стратегии
                    li.footer__item
                        a.link(href="#")  
                            +icon("arrow-right")
                            |Риски
                    li.footer__item
                        a.link(href="#")  
                            +icon("arrow-right")
                            |Вакансии
                    li.footer__item
                        a.link(href="#")  
                            +icon("arrow-right")
                            |Связь с нами
                    li.footer__item
                        a.link(href="#")  
                            +icon("arrow-right")
                            |Вопрос / Ответ
            .footer-col
                ul.footer__menu
                    li.footer__item-main Контент 
                    li.footer__item
                        a.link(href="#")  
                            +icon("arrow-right")
                            |Новости
                    li.footer__item
                        a.link(href="#")  
                            +icon("arrow-right")
                            |Аналитика
                    li.footer__item
                        a.link(href="#")  
                            +icon("arrow-right")
                            |Видео
                    li.footer__item
                        a.link(href="#")  
                            +icon("arrow-right")
                            |Фотографии
                ul.footer__menu
                    li.footer__item-main Мероприятия
                    li.footer__item
                        a.link(href="#")  
                            +icon("arrow-right")
                            |НовОнлайн ивентыости
                    li.footer__item
                        a.link(href="#")  
                            +icon("arrow-right")
                            |Оффлайн ивенты 
            .footer-col
                ul.footer__menu
                    li.footer__item-main Наши продукты
                    li.footer__item
                        a.link(href="#")  
                            +icon("arrow-right")
                            |Хедж Фонт
                    li.footer__item
                        a.link(href="#")  
                            +icon("arrow-right")
                            |Роботрейд AI
                    li.footer__item
                        a.link(href="#")  
                            +icon("arrow-right")
                            |Купить AlfaTrade (ATT) Токены 
                ul.footer__menu
                    li.footer__item-main Инвестиции
                    li.footer__item
                        a.link(href="#")  
                            +icon("arrow-right")
                            |Как стать нашим клиентом?
                    li.footer__item
                        a.link(href="#")  
                            +icon("arrow-right")
                            |Торговля с маржой
                    li.footer__item
                        a.link(href="#")  
                            +icon("arrow-right")
                            |Сonservative Trading
            .footer-col
                ul.footer__menu
                    li.footer__item-main Партнерство
                    li.footer__item
                        a.link(href="#")  
                            +icon("arrow-right")
                            |Как стать партнером?
                    li.footer__item
                        a.link(href="#")  
                            +icon("arrow-right")
                            |Программа для агентов
                div
                    a.footer-logo.d-sm-block(href="#")
                        img(src="img/logo-02.svg", alt="logo")
                    .d-flex.footer__socials
                        a.social(href="#")
                            +icon("telegram-plane")
                        a.social(href="#")
                            +icon("whatsapp")
                        a.social(href="#")
                            +icon("facebook")
                        a.social(href="#")
                            +icon("vk")
                        a.social(href="#")
                            +icon("instagram")
                    .d-flex.lang 
                        p.c-gray Язык:
                        
                        select 
                            option(value="Русский") Русский
                            option(value="English") English
                    .text-center
                        a.fs-14.c-gray.d-sm-block(href="#") Условия использования 
                        a.fs-14.c-gray.d-sm-block.mt-20(href="#") Политика Конфиденциальности
                    
        .footer-bottom
            .align-items-center.footer-bottom__left
                a.footer-logo.d-sm-none(href="#")
                    img(src="img/logo-02.svg", alt="logo")
                p.fs-14.c-gray © 2020 Alfa Trade. All Rights Reserved
            .align-items-center.footer-bottom__right.d-sm-none
                a.fs-14.c-gray(href="#") Условия использования 
                a.fs-14.c-gray(href="#") Политика Конфиденциальности
            
